# Ignore everything
*

# whitelist directories
!*/

# Include Brewfile
!Brewfile

# Include relevant files
!/.bash_profile
!/.gitignore
!/.vimrc
!/.config/karabiner/assets/complex_modifications/*.json
